PORT=3000
NODE_ENV=development
LOG_LEVEL=debug
CORS_ORIGINS=
TRUST_PROXY=false

DB_DIALECT=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=chat_app
DB_SSL=false
DB_SSL_CA_PATH=
DB_SSL_REJECT_UNAUTHORIZED=true

JWT_SECRET=
JWT_EXPIRES_IN=1d

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_R2_BUCKET_NAME=
CLOUDFLARE_R2_PUBLIC_HOSTNAME=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
